*.api_description linguist-language=Api_description linguist-vendored=false
*.as linguist-language=As linguist-vendored=false
*.bat linguist-language=CMD Batch linguist-vendored=false
*.bowerrc linguist-language=Bowerrc linguist-vendored=false
*.cfg linguist-language=Config File linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.db linguist-language=Db linguist-vendored=false
*.eclipseproduct linguist-language=Eclipseproduct linguist-vendored=false
*.eot linguist-language=Eot linguist-vendored=false
*.example-php linguist-language=Example-php linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.exsd linguist-language=Exsd linguist-vendored=false
*.fla linguist-language=Fla linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.gz linguist-language=Gz linguist-vendored=false
*.header linguist-language=Header linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.ico linguist-language=Ico linguist-vendored=false
*.importer linguist-language=Importer linguist-vendored=false
*.inf linguist-language=Inf linguist-vendored=false
*.ini linguist-language=Ini linguist-vendored=false
*.jar linguist-language=Jar linguist-vendored=false
*.java linguist-language=Java linguist-vendored=false
*.jazzignore linguist-language=Jazzignore linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.jsp linguist-language=Jsp linguist-vendored=false
*.jspf linguist-language=Jspf linguist-vendored=false
*.launch linguist-language=Launch linguist-vendored=false
*.less linguist-language=Less linguist-vendored=false
*.link linguist-language=Link linguist-vendored=false
*.lst linguist-language=Lst linguist-vendored=false
*.mappings linguist-language=Mappings linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mf linguist-language=Mf linguist-vendored=false
*.mov linguist-language=Mov linguist-vendored=false
*.options linguist-language=Options linguist-vendored=false
*.oslccompact linguist-language=Oslccompact linguist-vendored=false
*.php linguist-language=PHP linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.policy linguist-language=Policy linguist-vendored=false
*.pr linguist-language=Pr linguist-vendored=false
*.project linguist-language=Project linguist-vendored=false
*.properties linguist-language=Properties linguist-vendored=false
*.psd linguist-language=Psd linguist-vendored=false
*.rpxconfig linguist-language=Rpxconfig linguist-vendored=false
*.rsa linguist-language=Rsa linguist-vendored=false
*.scss linguist-language=Scss linguist-vendored=false
*.sf linguist-language=Sf linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.smd linguist-language=Smd linguist-vendored=false
*.svg linguist-language=Svg linguist-vendored=false
*.swf linguist-language=Swf linguist-vendored=false
*.target linguist-language=Target linguist-vendored=false
*.template linguist-language=Template linguist-vendored=false
*.testing linguist-language=Testing linguist-vendored=false
*.tld linguist-language=Tld linguist-vendored=false
*.ttf linguist-language=Ttf linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.vtt linguist-language=Vtt linguist-vendored=false
*.wav linguist-language=Wav linguist-vendored=false
*.woff linguist-language=Woff linguist-vendored=false
*.xmi linguist-language=Xmi linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.xsl linguist-language=Xsl linguist-vendored=false
