<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2010, 2016                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<?eclipse version="3.4"?>
<!--
    Note to U.S. Government Users Restricted Rights:  
    Use, duplication or disclosure restricted by GSA ADP Schedule 
    Contract with IBM Corp. 
 -->
<plugin>
    <extension point="net.jazz.ajax.webBundles">
        <alias value="com.ibm.social.urliWidget.web.resources" />
    </extension>
    
    <extension
          point="net.jazz.ajax.webBundles">
        <alias value="lconn.urlwidget" />
    </extension>
     
    <extension
          point="net.jazz.ajax.webBundles">
        <alias value="lconn.box" />
    </extension>

    <extension
          point="net.jazz.ajax.webBundles">
        <alias value="ic-extension-box" />
    </extension>
    
    <extension point="net.jazz.ajax.dojoModuleBinding">
        <dojoModuleBinding bind="lconn.box.ckeditor.init" to="lconn.core.ckeditorstatic" />
    </extension>
    
    <extension point="net.jazz.ajax.dojoModuleBinding">
        <dojoModuleBinding bind="lconn.box.ckeditor.styles" to="lconn.core.ckeditor" />
    </extension>
</plugin>
