<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2011, 2014                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<?eclipse version="3.4"?>
<plugin>
   <extension point="net.jazz.ajax.webBundles">
      <alias value="ic-ng"/>
   </extension>
   <extension point="net.jazz.ajax.webBundles">
      <alias value="ic-ng-test"/>
      <resource base-name="/test"/>
   </extension>
</plugin>
