<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2011, 2013                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<?eclipse version="3.4"?>
<plugin>
    <extension point="net.jazz.ajax.webBundles">
    <!-- 
        Defining an extension to webBundles exposes the contents of this bundle (com.ibm.example.theme)
        to external consumers.  The resources/ folder is the default folder for serving the contents of the 
        bundle.  The file theme.css will then be visible at 

            &lt;server&gt;/web/com.ibm.example.theme/theme.css

        To have a different bundle name and base package, add an <alias> element to this extension.

            <extension point="net.jazz.ajax.webBundles">
               <alias value="mycompany.theme.example" />
            </extension> 

        would make the file theme.css be visible at:

            lt;server&gt;/web/mycompany.theme.example/theme.css
    -->
    </extension>
    <extension point="com.ibm.lconn.core.styles.themes">
    <!-- 
        Defining an extension to com.ibm.lconn.core.styles.themes exposes the contents of this bundle (com.ibm.example.theme)
        as an IBM Connections theme.

        Each theme exposed by this bundle must have an extension of type <theme> like the following:

            <extension point="com.ibm.lconn.core.styles.themes">
               <theme id="example" resource="/theme.css" resource-rtl="/themeRTL.css" application-path="/applications/" version="oneui3" />
            </extension> 

        This exposes the "example" theme with main LTR stylesheet theme.css, and RTL stylesheet themeRTL.css. 
        Application stylesheets will be searched in the /applications/ directory, e.g.:

            /com.ibm.example.theme/applications/wikis.css

    -->
        <theme id="example" resource="/theme.css" resource-rtl="/themeRTL.css" application-path="/applications/" version="oneui3" />
    </extension>
    <extension point="com.ibm.lconn.core.styles.cssBinding">
        <cssBinding bind="com.ibm.example.theme/example" to="com.ibm.lconn.core.styles.oneui3/base/package3" />
        <cssBinding bind="com.ibm.example.theme/exampleRTL" to="com.ibm.lconn.core.styles.oneui3/base/package3RTL" />
        <cssBinding bind="com.ibm.example.theme/applications/wikis" to="com.ibm.lconn.core.styles.oneui3/base/applications/wikis" />
        <cssBinding bind="com.ibm.example.theme/applications/wikisRTL" to="com.ibm.lconn.core.styles.oneui3/base/applications/wikisRTL" />
    </extension>
</plugin>
